$background-purple: #2a2f4a;
$foreground-purple: #242943;
$grid-top-left: #6fc3df;
$grid-top-right: #8d82c4;
$grid-middle-left: #ec8d81;
$grid-middle-right: #e7b788;
$grid-bottom-left: #8ea9e8;
$grid-bottom-right: #87c5a4;
$section-borders: rgba(212, 212, 255, 0.1);
